name: CI/CD .NET
permissions:
    contents: write
on:
    push:
        branches:
            - main
        tags:
            - "v?[0-9]+.[0-9]+.[0-9]+"

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout source
              uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: "8.0.x"

            - name: Restore dependencies
              run: dotnet restore

            - name: Build project
              run: dotnet build --configuration Release --no-restore

            - name: Run tests
              run: dotnet test --configuration Release --no-build

    release:
        name: Release
        runs-on: ubuntu-latest
        needs: build

        if: startsWith(github.ref, 'refs/tags/')

        steps:
            - name: Checkout source
              uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: "8.0.x"

            - name: Publish
              run: dotnet publish -c Release -o publish

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v2
              with:
                  files: publish/**
